@use "../base/variables" as *;
@use "../utilities/mixins" as *;

.product-review {
  margin-bottom: 50px;

  &__tabs {
    @include flex-center;
    gap: 2rem;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid $light-border-color;
    padding-bottom: 3px;
  }

  &__tab {
    background: none;
    border: none;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    color: $dark-gray;
    position: relative;
    border-radius: 4px;
    &--active {
      color: $primary-color;
      border-bottom: 3px solid $primary-color;
    }
  }

  &__panel {
    display: none;

    &--active {
      display: block;
    }
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
  }

  &__left {
    flex: 1;
    min-width: 300px;

    @include respond(mobile) {
      padding-right: 1.5rem;
      border-right: 1px solid $light-border-color;
    }
  }

  &__right {
    flex: 1;
    min-width: 260px;
  }

  &__title {
    font-weight: bold;
    margin-bottom: 1rem;
  }

  &__paragraph {
    font-size: 0.875rem;
    color: $light-gray;
    font-weight: 500;
  }

  &__accordion {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__accordion-item {
    text-align: left;
    background-color: #fef6f9;
    padding: 1rem;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    font-size: 1rem;
    color: $text-color;
    cursor: pointer;

    &::after {
      content: "›";
      float: right;
      color: $dark-gray;
    }

    &:hover {
      background-color: $primary-color-300;
    }
  }

  &__ratings-summary {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    margin-bottom: 2rem;

    @include respond(tablet) {
      grid-template-columns: 1fr 2fr;
    }

    @include respond(desktop) {
      grid-template-columns: 1fr 2fr 1fr;
      align-items: center;
    }
  }

  &__score-box {
    text-align: center;
    background-color: $primary-color-300;
    border-radius: 10px;
    padding: 2rem;

    .product-review__score {
      font-size: 2.5rem;
      font-weight: bold;
      color: $primary-color;
    }

    .product-review__stars {
      font-size: 1.25rem;
      @include flex-center;
    }

    .product-review__reviews-count {
      font-size: 0.875rem;
      color: $light-gray;
      font-weight: 500;
    }
  }

  &__distribution {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &__distribution-row {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  &__distribution-stars {
    width: 80px;
  }

  &__bar-container {
    flex: 1;
    height: 6px;
    background-color: $light-border-color;
    border-radius: 6px;
    overflow: hidden;
  }

  &__bar {
    height: 100%;
    background-color: #FDC040;
    border-radius: 6px;
  }

  &__percent {
    font-size: 0.75rem;
    font-weight: 500;
    color: $text-color;
    width: 40px;
    text-align: right;
  }

  &__leave-review {
    padding: 0.75rem 2rem;
    font-weight: bold;
    @include respond(mobile) {
      width: 100%;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  &__item {
    display: flex;
    gap: 1rem;
    border-bottom: 1px solid $light-border-color;
    padding-bottom: 1rem;
  }

  &__avatar {
    width: 40px;
    height: 40px;
    background-color: $secondary-color-300;
    color: $white;
    font-weight: bold;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__info {
    flex: 1;
  }

  &__name {
    font-weight: 600;
  }

  &__date {
    font-size: 0.75rem;
    color: $light-gray;
    margin-bottom: 0.25rem;
  }

  &__stars {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    @include flex-start;
  }

  &__text {
    font-size: 0.875rem;
    font-weight: 500;
    color: $dark-gray;
  }

  &__show-more {
    margin-top: 2rem;
    text-align: center;
  }
}
