@use '../base/variables' as *;

@mixin flex {
  display: flex;
  align-items: center;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-start {
  display: flex;
  justify-content: start;
  align-items: center;
}

@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin flex-column-start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-wrap {
  display: flex;
  flex-wrap: wrap;
}


@mixin respond($breakpoint) {
  @if $breakpoint == tablet {
    @media (min-width: $mobile-breakpoint) {
      @content;
    }
  } @else if $breakpoint == desktop {
    @media (min-width: $desktop-breakpoint) {
      @content;
    }
  } @else {
    @warn "Unknown breakpoint: #{$breakpoint}";
  }
}

